################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectEuler/.vs/ProjectEuler/v15
/ProjectEuler/ProjectEuler/bin/
/ProjectEuler/ProjectEuler/obj/
*.suo
*.psess
*.vspx
